@charset "utf-8";
@import "../css/variables";
@import "../css/mixin";

@font-face {
  font-family: 'Pretendard-R';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-B';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-EB';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@keyframes bounce {
  100% {
    top: -5px;
  }
}

@include mobile {
  * {
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
    color: #333;
  }

  html {
    font-size: 16px;
    font-family: 'Pretendard';
    font-weight: 400;
    color: #333;
  }

  body {
    background: #fff;
    overflow-x: hidden;
    letter-spacing: 0.04em;
    line-height: 1.6;
    font-size: #{$font-default};
  }

  section {
    width: 100%;
    height: 100vh;
  }

  .btn {
    width: 100%;
    height: auto;
    margin-top: 40px;
    text-align: center;
    border: 1px solid #333;
    border-radius: 5px;

    a {
      display: block;
      padding: 10px 0;

      .line {
        content: "";
        display: inline-block;
        width: 40px;
        height: 1px;
        background: #333;
        vertical-align: middle;
        margin-left: 10px;
      }
    }
  }
  .btn:hover {
    border: 1px solid #fadd0a;

    a {
      color: #fadd0a;

      .line {
        background: #fadd0a;
      }
    }
  }
  .btn-lately-pj {
    width: 200px;
  }

  .a11y-hidden {
    overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
    /* IE 6,7 */
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  }

  .container {
    width: 100%;
    height: 100vh;

    .header {
      width: 100%;
      padding: 44px 4.167% 0;
      display: flex;
      justify-content: space-between;
      font-size: #{$font-default};
      position: fixed;
      z-index: 100;

      .header-logo {
        width: 40px;
        height: 40px;
        position: absolute;
        left: -50px;
        opacity: 0;

        img {
          width: 100%;
        }
      }

      .header-title {
        font-size: 0.8rem;
        font-weight: 900;
        color: #333;
      }

      .header-email {
        font-size: 0.6rem;
      }
    }

    .visual {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;

      .visual-center {
        width: 200px;
        height: 200px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .center-desc {
        width: 80%;
        margin: 0 auto;
        text-align: center;

        strong {
          display: block;
          color: #dfdfdf;
        }
      }

      .visual-intro {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: #{$font-large};

        p {
          width: 300px;
          height: 100%;
          position: absolute;
          transform: translate(-50%, -50%);
          color: #fff;
          text-align: center;
          opacity: 0;
        }
      }

      .background-images {
        display: flex;
        justify-content: center;
        align-items: center;

        .bg {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
        }

        .bg-4 {
          background: url(../src/bg_nature4.png) no-repeat 0 0;
          background-size: cover;
          z-index: -4;
        }

        .bg-3 {
          background: url(../src/bg_nature3.png) no-repeat 0 0;
          background-size: cover;
          z-index: -3;
        }

        .bg-2 {
          background: url(../src/bg_nature2.png) no-repeat 0 0;
          background-size: cover;
          z-index: -2;
        }

        .bg-1 {
          background: url(../src/bg_nature1.png) no-repeat 0 0;
          background-size: cover;
          z-index: -1;
        }
      }
    }

    .visual::before {
      content: '';
      position: absolute;
      bottom: 0px;
      width: 100%;
      height: 100px;
      background: linear-gradient(to top, #fff, transparent);
    }

    .introduce {
      width: 100%;
      height: auto;
      background: #fff;

      .introduce-inner {
        position: relative;
        width: 80%;
        max-width: 1600px;
        margin: 0 auto;
        padding-bottom: 160px;

        .thumb-box {
          width: 100%;
          height: 400px;
          position: relative;
          left: 0;

          .thumb-img {
            width: 100%;
            height: 100%;
            display: block;
            background: url(../src/thumb.jpg) no-repeat 0 0;
            background-size: cover;
          }

          // .thumb-img::after {
          //   content: "";
          //   position: absolute;
          //   left: -10px;
          //   top: -10px;
          //   width: inherit;
          //   height: inherit;
          //   border: 1px solid #0a8214;
          // }
          .thumb-name {
            margin-top: 2rem;
            font-size: #{$font-medium};

            .nick {
              font-weight: 900;
            }

            .name {
              font-size: 0.5em;
              color: #999;
            }
          }
        }

        .intro-title {
          position: absolute;
          right: 0;
          top: 360px;
          text-align: right;
          font-size: #{$font-small};

          strong {
            font-weight: bold;
          }
        }

        .intro-para {
          margin-top: 300px;
          font-size: 1rem;

          p:not(:last-child) {
            margin-bottom: 2rem;
          }
        }

        .node-ment {
          position: absolute;
          color: #dfdfdf;
          font-size: #{$font-small};
          bottom: 0;
          right: -70px;
          transform: rotate(90deg);
          opacity: 0;
        }
      }
    }

    .skills {
      width: 100%;
      height: auto;
      padding: 200px 0;
      background: #f4f4f4;

      .skills-inner {
        width: 75%;
        height: 100%;
        margin: 0 auto;
        position: relative;
        // // display: flex;
        // justify-content: space-around;
        // align-content: start;
      }

      .skills-title {
        font-size: #{$font-large};
      }

      .skills-list {
        margin-top: 100px;

        .skills-item {
          .skill-title {
            display: block;
            font-size: 1.2rem;
            font-weight: 900;
            margin-bottom: 0.5rem;
            position: relative;
          }

          .skill-title::before {
            content: '';
            display: inline-block;
            width: 24px;
            height: 24px;
            background: url(../src/done.png) 0 0 no-repeat;
            background-size: cover;
            position: absolute;
            left: -30px;
            top: 0px;
          }
        }

        .skills-item:not(:first-child) {
          padding-top: 40px;
        }
      }
    }

    .projects {
      width: 100%;
      height: auto;
      background: #fff;

      .project-inner {
        width: 60%;
        height: auto;
        max-width: 1600px;
        margin: 0 auto;
        padding-top: 260px;
        padding-bottom: 160px;
        position: relative;
      }

      .project-list {
        width: 100%;
        height: 970px;
        position: relative;
      }

      .project-item {
        position: absolute;
        opacity: 0;
        z-index: 10;

        p {
          text-align: center;
        }
      }

      .project-item:nth-child(1) {
        left: 0;
      }

      .project-item:nth-child(2) {
        right: 0;
        top: 200px;
      }

      .project-item:nth-child(3) {
        left: 0;
        top: 400px;
      }

      .project-item:nth-child(4) {
        right: 0;
        top: 600px;
      }

      .project-item:nth-child(5) {
        left: 0;
        top: 800px;
      }

      .project-background {
        width: 100%;
        height: 760px;
        position: absolute;
        top: 260px;
        z-index: 0;
      }

      .pj-background-word {
        position: absolute;
        font-size: 2.2rem;
        font-weight: bold;
        -webkit-text-stroke: 1px #999;
        color: transparent;
        transform: rotate(90deg);
        opacity: 0;
      }

      .pj-background-word:nth-child(1) {
        left: 150px;
        top: 25px;
      }

      .pj-background-word:nth-child(2) {
        left: 150px;
        top: 425px;
      }

      .pj-background-word:nth-child(3) {
        right: -10px;
        top: 850px;
      }

      .lately-project {
        width: 100%;
        height: 1000px;
        padding: 100px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;

        .mockup-img {
          width: 300px;
          height: 100%;
          background-image: url(../src/mobile-mockup.png);
          background-position: center center;
          background-size: contain;
          background-repeat: no-repeat;
          filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
        }
      }
    }

    .posting {
      width: 100%;
      height: auto;
      background: #fafafa;

      .posting-inner {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        padding-bottom: 250px;
      }

      .posting-title {
        font-size: #{$font-large};
        text-align: center;
        padding-top: 250px;
      }

      .posting-list {
        width: 100%;
        height: 100%;
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 50px 0;

        .posting-item {
          width: 100%;
          background: #fff;
          border: 1px solid #dfdfdf;
          border-radius: 10px;
          overflow: hidden;
          transition: .3s;

          img {
            width: 100%;
            height: 100%;
          }

          .details {
            padding: 10px 20px;

            h3 {
              font-weight: bold;
              text-overflow: ellipsis;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            small {
              font-size: 14px;
              color: #999;
            }
          }
        }

        .posting-item:hover {
          transform: translateY(-5px);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        }
      }
    }

    .recruit {
      width: 100%;
      height: auto;
      background: #fff;

      .recruit-inner {
        width: 80%;
        margin: 0 auto;
        padding: 250px 0;
        position: relative;
      }

      .recruit-title {
        font-size: 4rem;
        font-weight: bold;
        -webkit-text-stroke: 1px #999;
        color: transparent;
        width: 400%;
        position: absolute;
        left: 25%;
        top: 10%;
      }

      .bio {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .bio-title {
        font-size: #{$font-large};
        font-weight: bold;
        position: relative;
      }

      .bio-list {
        margin-top: 50px;

        // padding-left: 100px;
        .bio-item {
          position: relative;
        }

        .bio-item::before {
          content: '';
          position: absolute;
          left: -15px;
          top: 8px;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background: #333;
        }

        .bio-item+.bio-item {
          margin-top: 20px;
        }
      }
    }
    .contact {
      width: 100%;
      height: 100vh;
      background: #fafafa;


      .contact-inner {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        padding: 100px 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .contact-title {
        font-size: 1.2rem;
        position: relative;
        display: inline-block;
        margin-bottom: 30px;
      }

      .contact-title::after {
        content: "";
        width: 24px;
        height: 24px;
        background: url(../src/done.png) 0 0 no-repeat;
        background-size: cover;
        position: absolute;
        right: -30px;
        top: 2px;
      }

      .contact-email {
        display: block;
        width: 100%;
        font-size: #{$font-medium};
        font-weight: bold;
        margin: 0 auto;
        text-align: center;
        padding: 10px 20px;
        border-radius: 5px;
        transition: scale .5s
      }

      .contact-email:hover {
        color: #fadd0a;
        scale: 0.9;
      }

      .contact-desc {
        margin-top: 50px;
        color: #999;

        span {
          position: relative;
          top: 0;
          display: inline-block;
          animation: bounce .4s ease infinite alternate;
          color: #999;
        }

        span:nth-child(2) {
          animation-delay: .1s;
        }

        span:nth-child(3) {
          animation-delay: .2s;
        }

        span:nth-child(4) {
          animation-delay: .3s;
        }

        span:nth-child(5) {
          animation-delay: .4s;
        }

        span:nth-child(6) {
          animation-delay: .5s;
        }

        span:nth-child(7) {
          animation-delay: .6s;
        }

        span:nth-child(8) {
          animation-delay: .7s;
        }

        span:nth-child(9) {
          animation-delay: .8s;
        }

        span:nth-child(10) {
          animation-delay: .9s;
        }

        span:nth-child(11) {
          animation-delay: 1.0s;
        }
      }
    }

    .footer {
      width: 100%;
      height: auto;
      padding: 50px 0;
      text-align: center;
      border-top: 1px solid #000;
      background: #123616;
      color: #fff;

      .link {
        font-size: 1.3rem;
        font-weight: bold;
        display: flex;
        justify-content: center;
        gap: 30px;

        a {
          color: #fff;
        }
      }

      p {
        margin-top: 50px;
      }

      .copyright {
        font-size: 0.8rem;
        color: #999;
      }
    }
  }
}

@include tablet {
  .container {
    .introduce {
      .introduce-inner {
        .thumb-box {
          width: 50%;
          height: 450px;
        }

        .intro-title {
          font-size: #{$font-medium};
        }
      }
    }

    .projects {
      .project-item:nth-child(1) {
        left: 100px;
      }

      .project-item:nth-child(4) {
        right: 100px;
      }

      .project-item:nth-child(5) {
        left: 0px;
      }

      .pj-background-word:nth-child(1) {
        left: 300px;
      }

      .pj-background-word:nth-child(3) {
        right: 150px;
      }
    }

    .posting {
      .posting-list {
        gap: 50px 0;

        .posting-item {
          width: 48.5%;
        }
      }
    }

    .recruit {
      height: 100vh;
      .recruit-title {
        font-size: 5rem;
      }

      .bio {
        align-items: center;
      }

      .btn-recruit {
        width: 50%;
        margin: 40px auto 0;
      }
    }

    .contact {
      width: 100%;
      height: 100vh;
      background: #fafafa;

      .contact-inner {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        padding: 100px 0;
        text-align: center;
      }

      .contact-title {
        font-size: #{$font-medium};
        position: relative;
        display: inline-block;
        margin-bottom: 30px;
      }

      .contact-title::after {
        content: "";
        width: 24px;
        height: 24px;
        background: url(../src/done.png) 0 0 no-repeat;
        background-size: cover;
        position: absolute;
        right: -30px;
        top: 2px;
      }

      .contact-email {
        font-size: #{$font-xlarge};
      }
    }
  }
}

@include desktop {
  .container {
    .introduce {
      .introduce-inner {
        .thumb-box {
          max-width: 30%;
          max-height: 450px;
        }

        .intro-title {
          font-size: #{$font-medium};
        }
      }
    }

    .skills {
      .skills-inner {
        display: flex;
        justify-content: center;
      }

      .skills-list {
        margin-top: 0;
        padding-left: 200px;
      }
    }

    .projects {
      .project-item:nth-child(1) {
        left: 200px;
      }

      .project-item:nth-child(4) {
        right: 100px;
      }

      .project-item:nth-child(5) {
        left: 200px;
      }

      .pj-background-word:nth-child(1) {
        left: 450px;
      }
    }

    .posting {
      .posting-list {
        gap: 50px 0;

        .posting-item {
          width: 30%;
        }
      }
    }

    .recruit {
      .recruit-title {
        font-size: 6rem;
      }

      .bio {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 100px;

        .bio-list {
          margin-top: 0;
        }
      }

      .bio-title::after {
        content: '';
        position: absolute;
        right: -50px;
        top: 85%;
        transform: translateY(-50%);
        width: 1px;
        height: 210px;
        background: #dfdfdf;
      }

      .btn-recruit {
        position: absolute;
        width: 300px;
        left: 49.6%;
      }
    }

  }
}